# Commented means that the app can run without it.

# Uncomment the following lines to enable OpenTelemetry and PostHog integration.
# Make sure to replace <YOUR_POSTHOG_KEY> with your actual PostHog key.
# OTEL_URL=http://localhost:4318
# NEXT_PUBLIC_OTEL_PROXY_PATH=/api/tel
# NEXT_PUBLIC_POSTHOG_KEY="<YOUR_POSTHOG_KEY>"
# NEXT_PUBLIC_POSTHOG_PROXY_PATH=/api/ingest-phog
