# Commented means that the app can run without it.

# Uncomment the OTEL_URL variable to enable OpenTelemetry.
# Make sure to replace <YOUR_GOOGLE_CLIENT_ID> and <YOUR_GOOGLE_CLIENT_SECRET> with your actual Google OAuth credentials.
GOOGLE_CLIENT_ID="<YOUR_GOOGLE_CLIENT_ID>"
GOOGLE_CLIENT_SECRET="<YOUR_GOOGLE_CLIENT_SECRET>"
REDIS_URL=redis://localhost:6379
POSTGRES_URL=postgresql://postgres:password@localhost:5432/postgres
# OTEL_URL=http://localhost:4318
AUTH_SECRET="<YOUR_AUTH_SECRET>" # generate using `openssl rand -base64 32`
